$avatar: (
    margin-bottom: spacing(1),
    border: 1px solid color(primary),
    border-radius: $radius-round,
    background-color: color(primary),
    background-position: bottom center,
    background-size: 55px auto,
    size: 70px,
    media-min-lg: (
        background-size: 78px auto,
        border-width: $border-shout,
        size: 110px,
    ),
    user: (
        font-size: svg-font(avatar-user),
        media-min-lg: (
            font-size: svg-font(media-min-lg, avatar-user),
        ),
    ),
);

.avatar {
    margin: auto;
    margin-bottom: map-deep-get($avatar, margin-bottom);
    border: map-deep-get($avatar, border);
    border-radius: map-deep-get($avatar, border-radius);
    background-color: $color-stk-curious-blue;
    background-repeat: no-repeat;
    background-position: map-deep-get($avatar, background-position);
    background-size: map-deep-get($avatar, background-size);
    width: map-deep-get($avatar, size);
    height: map-deep-get($avatar, size);
    overflow: hidden;

    @include media-min(lg) {
        margin-bottom: 20px;
        border-width: map-deep-get($avatar, media-min-lg, border-width);
        background-size: map-deep-get($avatar, media-min-lg, background-size);
        width: map-deep-get($avatar, media-min-lg, size);
        height: map-deep-get($avatar, media-min-lg, size);
    }

    &--user {
        position: relative;
        font-size: map-deep-get($avatar, user, font-size);

        @include media-min(lg) {
            font-size: map-deep-get($avatar, user, media-min-lg, font-size);
        }
    }
}
