* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

// TAGS
//adding block element
section {
    display: block;
}

// reset styling
ul {
    list-style-type: none;
}

li {
    padding: 0;
}

button {
    border: 0;
    box-shadow: none;
    background-color: transparent;
    font-size: inherit;

    &,
    &:active,
    &:focus {
        outline: none;
    }
}

button,
input {
    color: inherit;
    font-family: inherit;
}

input,
select,
option {
    min-width: unset;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font: inherit;
    font-size: 100%;
}

input,
select,
button,
textarea {
    font-family: inherit;
}
