.hidden {
    display: none;
    visibility: hidden;
}

.mobile {
    @include media-min(lg) {
        display: none;
    }
}

.desktop {
    @include media-max(lg) {
        display: none;
    }
}

.column-grow {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.column-full {
    height: 100%;
}

.text-center {
    text-align: center;
}

// spacing util classes
@include spacing-util;
