<app-appeal-flow-wrapper>
    <div class="mdl-page-layout">
        <div class="mdl-page-layout__headline">
            <div class="mdl-page-headlines">
                <h1 class="title primary">העלה תעודת זהות</h1>
                <br />
                <h2>רק קבצים מסוג תמונה מותרים (png, jpeg, jpg)</h2>
            </div>
        </div>
        <div class="mdl-page-layout__content">
            <form class="column-grow column-full">
                <div class="column-grow">
                    <div class="upload-image">
                        <div class="upload-image__body">
                            <input
                                type="file"
                                class="hidden"
                                name="ticketPic"
                                id="ticketImageInput"
                                #ticketImageInput
                                accept="image/*"
                                (change)="processPic(ticketImageInput)"
                            />
                            <label class="upload-image__label" for="ticketImageInput">
                                <div class="upload-image__icon">
                                    <svg-icon src="{{ imgPathService?.uploadUiIcon }}" class="icon"></svg-icon>
                                </div>
                                <div class="upload-image__text primary">העלאת תעודת זהות</div>
                            </label>
                        </div>
                        <div *ngIf="uploadedIdPic" class="upload-image__data">
                            <div class="upload-image__file">
                                <span class="upload-image__file-icon">
                                    <svg-icon src="{{ imgPathService?.thumbUiIcon }}" class="icon"></svg-icon>
                                </span>
                                <span class="upload-image__file-text">{{ uploadedIdPic.fileName }}</span>
                                <button
                                    class="btn-icon upload-image__file-remove"
                                    (click)="removePicFromTicketPicArray(uploadedIdPic.id)"
                                >
                                    <svg-icon src="{{ imgPathService?.closeUiIcon }}" class="icon"></svg-icon>
                                </button>
                            </div>
                            <div class="ticket__images">
                                <div *ngIf="uploadedIdPic" class="ticket__image">
                                    <img class="ticket__image-src" [src]="uploadedIdPic.signedUrl" />
                                </div>
                            </div>
                        </div>
                        <div class="upload-image__file" *ngIf="loadingId">
                            <span class="upload-image__file-icon">
                                <svg-icon src="{{ imgPathService?.thumbUiIcon }}" class="icon"></svg-icon>
                            </span>
                            <div class="upload-image__file-progress">
                                <mat-progress-bar class="custom-progress" mode="query"></mat-progress-bar>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mdl-page-footer" [ngSwitch]="ticketService.routeToEnd()">
                    <button
                        mat-button
                        class="btn-mat-custom"
                        [disabled]="!uploadedIdPic"
                        [routerLink]="['/appeal', 'summary']"
                        *ngSwitchCase="true"
                    >
                        חזור לסיכום
                    </button>
                    <rp-button [disabled]="!uploadedIdPic" [onClick]="onSubmit.bind(this)" *ngSwitchDefault
                        >המשך לשלב הבא
                    </rp-button>
                </div>
            </form>
        </div>
    </div>
</app-appeal-flow-wrapper>
