<div class="about-app">
    <h2 class="flex subtitle">
        <span class="lined left"></span>
        מה האפליקציה שלנו עושה ?
        <span class="lined right"></span>
    </h2>
    <div class="wrapper">
        <div class="card">
            <div class="column">
                <i class="icon icon-feed"></i>
            </div>
            <div class="column">
                <h3 class="heading">התראות בזמן אמת</h3>
                <p class="text">האפליקציה של Road Protect</p>
                <p class="text">תאפשר לך לקבל התראות</p>
                <p class="text">בזמן אמת על קבלת דו”ח חניה</p>
            </div>
        </div>
        <div class="card">
            <div class="column">
                <i class="icon icon-clock"></i>
            </div>
            <div class="column">
                <h3 class="heading">ניהול רכבים</h3>
                <p class="text">ניהול הרכבים שלך ותשלום חשבונות בזמן</p>
            </div>
        </div>
        <div class="card">
            <div class="column">
                <i class="icon icon-wallet"></i>
            </div>
            <div class="column">
                <h3 class="heading">הצעות ביטוח</h3>
                <p class="text">קבלת הצעות ביטוח משתלמות</p>
            </div>
        </div>
        <div class="card">
            <div class="column">
                <i class="icon icon-minus"></i>
            </div>
            <div class="column">
                <h3 class="heading">המנעות מעמלות</h3>
                <p class="text">הימנעות מעמלות פיגורים בגין דו”חות חניה שלא שולמו בזמן ע”י תזכורת תשלום לנייד.</p>
            </div>
        </div>
        <div class="card">
            <div class="column">
                <i class="icon icon-wrench"></i>
            </div>
            <div class="column">
                <h3 class="heading">טיפול ותיקוני רכב</h3>
                <p class="text">קבלת הצעות מחיר עבור טיפולים ותיקוני רכב</p>
            </div>
        </div>
        <div class="card">
            <div class="column">
                <i class="icon icon-globe"></i>
            </div>
            <div class="column">
                <h3 class="heading">ניהול רכבים</h3>
                <p class="text">קבלת הצעות מחיר עבור טיפולים ותיקוני רכב</p>
            </div>
        </div>
    </div>
</div>
