<div class="contact-details">
    <div class="item">
        <p>
            <mat-icon class="icon">
                <svg-icon [src]="imgPathService?.emailIcon"></svg-icon>
            </mat-icon>
            <strong>שירות לקוחות ותמיכה טכנית</strong>: appeal@roadprotect.co.il
        </p>
    </div>
    <div class="item">
        <p>
            <mat-icon class="icon">
                <svg-icon [src]="imgPathService?.chatIcon"></svg-icon>
            </mat-icon>
            <strong>צרו איתנו קשר</strong>: 058-7944611
        </p>
    </div>
    <div class="item">
        <p>
            <mat-icon class="icon">
                <svg-icon [src]="imgPathService?.faxIcon"></svg-icon>
            </mat-icon>
            <strong>פקס</strong>: 077-3181715
        </p>
    </div>
    <div class="item">
        <p>
            <mat-icon class="icon">
                <svg-icon [src]="imgPathService?.timeIcon"></svg-icon>
            </mat-icon>
            <strong>שעות פעילות החברה</strong>: א-ה בשעות 06:00 - 21:00
        </p>
    </div>
</div>
