<html>
<head>
    <script>window.parent.postMessage({ success: false }, '*');</script>
</head>
<body>
<div style="
        direction: rtl;
        display: flex;
        flex-direction: column;
        text-align: center;
        height: 33%;
        justify-content: space-around;">
    <svg style="height: 40%;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
        <circle cx="24" cy="24" r="24" fill="#1eabdf"></circle>
        <path d="M11.14 22.29h26.57v4.28H11.14z" fill="#fff" fill-rule="evenodd"></path>
    </svg>
    <div style="color: #1eabdf; font-family: arial; font-weight: bold; font-size: 32px;">שגיאה בעיבוד הבקשה</div>
    <div style="font-family: arial">
        לתמיכה יש ליצור קשר עם מוקד השירות בטלפון, <br>
        בימים א-ה בין השעות 8:30-15:30<br>
        <a style="font-family: arial; color: #1eabdf" href="tel:058-7944611">058-7944611</a>
    </div>
</div>
</div>
</body>
