<html>
<head>
    <script>window.parent.postMessage({ success: true, referenceNumber: {{query.cgUid}}  }, '*');</script>
</head>
<body style="direction: rtl">
<div style="
        height: 36px;
        font-family: Arial;
        font-size: 32px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #1ab3e6;
        margin-top: 30px;
        margin-bottom: 39px;">התשלום בוצע בהצלחה!
</div>
<div style="display: flex; justify-content: center;">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="172" height="175"
         viewBox="0 0 172 175">
        <defs>
            <circle id="b" cx="91" cy="89" r="75"/>
            <filter id="a" width="122.7%" height="122.7%" x="-11.3%" y="-11.3%" filterUnits="objectBoundingBox">
                <feMorphology in="SourceAlpha" operator="dilate" radius=".5" result="shadowSpreadOuter1"/>
                <feOffset in="shadowSpreadOuter1" result="shadowOffsetOuter1"/>
                <feGaussianBlur in="shadowOffsetOuter1" result="shadowBlurOuter1" stdDeviation="5.5"/>
                <feComposite in="shadowBlurOuter1" in2="SourceAlpha" operator="out" result="shadowBlurOuter1"/>
                <feColorMatrix in="shadowBlurOuter1" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.13 0"/>
            </filter>
            <filter id="c" width="127.6%" height="131%" x="-13.8%" y="-15.5%" filterUnits="objectBoundingBox">
                <feOffset dx="-5" dy="3" in="SourceAlpha" result="shadowOffsetOuter1"/>
                <feGaussianBlur in="shadowOffsetOuter1" result="shadowBlurOuter1" stdDeviation="2"/>
                <feColorMatrix in="shadowBlurOuter1" result="shadowMatrixOuter1"
                               values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0"/>
                <feMerge>
                    <feMergeNode in="shadowMatrixOuter1"/>
                    <feMergeNode in="SourceGraphic"/>
                </feMerge>
            </filter>
            <path id="d" d="M.2.036h91.722V112.64H.2z"/>
        </defs>
        <g fill="none" fill-rule="evenodd">
            <g transform="translate(-5)">
                <use fill="#000" filter="url(#a)" xlink:href="#b"/>
                <use fill="#E6F5F9" stroke="#D7D7D7" xlink:href="#b"/>
            </g>
            <g filter="url(#c)" transform="rotate(-13 185.488 39.28)">
                <path fill="#FFC336"
                      d="M32.099 108H4.902c-2.31 0-4.113-2-3.882-4.304l5.219-52.174c.2-2 1.878-3.522 3.881-3.522H32.1A3.908 3.908 0 0 1 36 51.913v52.174A3.907 3.907 0 0 1 32.099 108"/>
                <path fill="#E88D3A"
                      d="M7.555 103.636a1.713 1.713 0 0 1-1.701-1.886L11.23 48h-1.11a3.906 3.906 0 0 0-3.881 3.522l-5.22 52.174C.79 106 2.594 108 4.903 108h27.197A3.907 3.907 0 0 0 36 104.087v-.45H7.555z"/>
                <path fill="#707070"
                      d="M10.192 49.353c-1.401 0-2.564 1.075-2.704 2.501l-5.174 52.737a2.785 2.785 0 0 0 .689 2.142c.522.59 1.237.914 2.015.914h26.964c1.498 0 2.717-1.246 2.717-2.778V52.132c0-1.533-1.219-2.78-2.717-2.78h-21.79zM31.982 110H5.018a4.978 4.978 0 0 1-3.721-1.689 5.218 5.218 0 0 1-1.272-3.955l5.174-52.737C5.457 48.986 7.604 47 10.192 47h21.79C34.749 47 37 49.302 37 52.132v52.737c0 2.83-2.251 5.131-5.018 5.131z"/>
                <path fill="#FFF"
                      d="M36 53.505h2.87c2.423 0 4.665-1.287 5.815-3.377.968-1.76 2.53-3.815 4.933-5.135 4.935-2.709 9.474-9.093 11.842-17.412 2.369-8.318-4.342-17.411-3.75-21.28.593-3.87 7.303-9.093 15.987-1.161 7.577 6.92 8.093 16.932 6.398 27.852-.394 2.534 1.656 4.798 4.27 4.751 7.092-.126 19.774-.354 26.635-.489 9.868-.193 15 4.257 15 8.9 0 4.643-4.145 7.351-3.947 10.06.197 2.708 3.75 5.61 2.96 10.253s-4.08 7.199-4.54 9.673c-.789 4.257 1.777 5.61 1.185 11.414-.592 5.804-5.132 6.772-4.737 9.867.395 3.095.592 11.995-7.302 12.575-7.895.58-29.803 1.935-41.645 0-11.842-1.935-15.395-7.739-20.132-8.512-4.737-.774-11.842-.58-11.842-.58V53.504z"/>
                <path fill="#EBEBEB"
                      d="M101.973 104.832c-.392-3.104 4.121-4.074 4.71-9.894.589-5.82-1.963-7.179-1.178-11.447.457-2.481 3.729-5.044 4.514-9.7.785-4.656-2.747-7.566-2.944-10.282-.196-2.716 3.925-5.432 3.925-10.088 0-4.656-5.102-9.118-14.914-8.924-4.572.09-11.742.223-18.097.338-6.676.122-12.157-5.31-11.88-11.905.34-8.058-1.29-15.274-7.111-20.638-.112-.103-.222-.194-.332-.292 1.621 4.514 4.267 10.614 2.649 16.348-2.355 8.342-6.869 14.744-11.775 17.46-2.39 1.324-3.942 3.384-4.905 5.15-1.144 2.096-3.373 3.387-5.782 3.387H36v47.53s7.065-.194 11.774.582c4.71.776 8.242 6.597 20.016 8.536 8.993 1.482 23.818 1.04 33.821.49.682-2.528.544-5.214.362-6.651"/>
                <path fill="#EBEBEB"
                      d="M48.912 91.284C40.347 79.25 41.344 67.307 42.313 53c-.193.017-2.255.471-2.45.471H37v48.25s7.088-.196 11.813.592c4.726.787 8.27 6.696 20.084 8.665 8.489 1.415 22.158 1.102 32.103.594-14.322-.71-40.422-5.074-52.088-20.288"/>
                <g transform="translate(35)">
                    <mask id="e" fill="#fff">
                        <use xlink:href="#d"/>
                    </mask>
                    <path fill="#707070"
                          d="M3.425 100.167c2.482 0 6.688.09 9.904.62 2.064.34 3.856 1.492 5.931 2.825 3.162 2.032 7.098 4.56 14.06 5.71 11.454 1.888 32.538.62 41.072-.014 1.898-.14 3.329-.823 4.373-2.085 2.447-2.96 1.928-8.197 1.799-9.217-.242-1.918.869-3.212 1.944-4.461 1.158-1.349 2.472-2.877 2.756-5.691.28-2.773-.2-4.417-.662-6.007-.457-1.57-.93-3.19-.5-5.53.232-1.263.97-2.401 1.826-3.72 1.06-1.634 2.262-3.487 2.679-5.96.42-2.494-.59-4.413-1.567-6.27-.666-1.264-1.294-2.458-1.386-3.736-.115-1.592.787-3.01 1.742-4.51 1.069-1.68 2.174-3.416 2.174-5.658 0-1.552-.682-3.034-1.973-4.286-2.414-2.342-6.593-3.581-11.722-3.473-6.814.135-19.408.364-26.45.49a5.449 5.449 0 0 1-4.16-1.823 5.24 5.24 0 0 1-1.266-4.279c1.99-12.945.143-21.24-5.99-26.897-3.559-3.28-7.17-4.515-10.166-3.48-2.178.752-3.533 2.564-3.745 3.965-.179 1.177.642 3.405 1.51 5.765 1.67 4.53 3.746 10.17 2.183 15.71-2.372 8.411-6.976 15.2-12.317 18.16-1.793.993-3.286 2.57-4.439 4.684-1.344 2.466-3.953 3.998-6.81 3.998H2.553v45.173c.257-.002.55-.003.872-.003m46.442 12.473c-6.228 0-12.324-.262-16.934-1.023-7.446-1.228-11.785-4.016-14.954-6.053-1.93-1.24-3.456-2.22-5.037-2.481-4.539-.75-11.464-.568-11.533-.567a1.152 1.152 0 0 1-.852-.329 1.156 1.156 0 0 1-.356-.834v-47.52a1.17 1.17 0 0 1 1.176-1.163h2.848c1.991 0 3.808-1.064 4.74-2.775 1.349-2.475 3.202-4.415 5.36-5.611 4.806-2.664 8.993-8.927 11.2-16.754 1.36-4.82-.572-10.07-2.126-14.288-1.058-2.874-1.894-5.145-1.627-6.907.375-2.478 2.554-4.87 5.297-5.818 2.235-.772 6.84-1.283 12.542 3.975 8.667 7.992 8.14 19.67 6.714 28.95a2.935 2.935 0 0 0 .71 2.396 3.01 3.01 0 0 0 2.347 1.03c7.041-.127 19.633-.356 26.446-.49 5.787-.112 10.547 1.354 13.415 4.137 1.727 1.676 2.679 3.788 2.679 5.948 0 2.913-1.406 5.123-2.536 6.898-.776 1.22-1.447 2.273-1.386 3.104.057.797.552 1.738 1.126 2.828 1.046 1.99 2.35 4.465 1.8 7.727-.496 2.945-1.895 5.101-3.019 6.835-.72 1.11-1.343 2.07-1.492 2.88-.33 1.801.012 2.977.447 4.466.5 1.718 1.068 3.666.743 6.885-.358 3.537-2.062 5.52-3.306 6.966-.995 1.16-1.51 1.804-1.401 2.666.21 1.664.665 7.376-2.313 10.979-1.453 1.757-3.478 2.743-6.018 2.932-5.224.389-15.114 1.011-24.7 1.011"
                          mask="url(#e)"/>
                </g>
                <path fill="#A5A5A5" d="M28 61a6 6 0 1 1-12 0 6 6 0 0 1 12 0"/>
                <path fill="#FFF" d="M25 59a4 4 0 1 1-8 0 4 4 0 0 1 8 0"/>
                <path fill="#707070"
                      d="M21 56.483A3.521 3.521 0 0 0 17.483 60 3.521 3.521 0 0 0 21 63.517 3.521 3.521 0 0 0 24.517 60 3.521 3.521 0 0 0 21 56.483M21 66c-3.309 0-6-2.691-6-6s2.691-6 6-6c3.308 0 6 2.691 6 6s-2.692 6-6 6"/>
            </g>
            <path fill="#FFC336"
                  d="M143.5 26.25l-6.76 3.554 1.291-7.527-5.468-5.33 7.557-1.099L143.5 9l3.38 6.848 7.557 1.098-5.468 5.33 1.29 7.528zM118.5 37.75l-4.996 2.627.954-5.564-4.042-3.94 5.586-.811L118.5 25l2.498 5.062 5.586.811-4.042 3.94.954 5.564zM123.5 12.75l-4.996 2.627.954-5.564-4.042-3.94 5.586-.811L123.5 0l2.498 5.062 5.586.811-4.042 3.94.954 5.564z"/>
        </g>
    </svg>
</div>
<div style="
    display: flex;
    font-family: Arial;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    line-height: 2em;
    text-align: center;
    justify-content: center;
    color: #535353;
    padding-top: 30px;">

    מספר אסמכתא: {{query.cgUid}} <br>


</div>
</body>
</html>
