<div class="about-partners">
    <h2 class="flex subtitle">
        <span class="lined left"></span>
        עם מי אנחנו עובדים
        <span class="lined right"></span>
    </h2>
    <div class="wrapper">
        <div class="card">
            <div class="column">
                <h3 class="heading">ארגונים גדולים</h3>
                <p class="text">
                    ארגונים גדולים בתחום הרכב סובלים לעתים קרובות מעלויות גבוהות של דו”חות חניה. השירות של ROAD PROTECT
                    מאפשר לחברות וארגונים לנהל את הדו”חות של נהגיהן. כמו כן, מאפשרת לחסוך משאבים וכוח אדם על ניסיונות
                    ערעור עבור דו”חות חניה
                </p>
            </div>
            <a class="column button" routerLink="/contact-us">
                <button>בעל צי רכבים? צור קשר</button>
            </a>
        </div>
        <div class="card">
            <div class="column">
                <h3 class="heading">לקוחות פרטיים</h3>
                <p class="text">המערכת של ROAD PROTECT מאפשרת לנהגים</p>
                <p class="text">ברחבי ישראל לבדוק מהם סיכויי הערעור של דו”חות החניה שקיבלו</p>
                <br />
                <p class="text">ולאפשר להם לנהל ערעור חכם, נוח ואיכותי</p>
            </div>
            <a class="column button" routerLink="/start">
                <button>הגשת ערעור</button>
            </a>
        </div>
        <div class="card">
            <div class="column">
                <h3 class="heading">רשויות מקומיות</h3>
                <p class="text">
                    האפליקציה של ROAD PROTECT ,תאפשר לעיריות לנהל את הגבייה שלהן עבור דו”חות חניה ושירותים עירוניים
                    אחרים.
                </p>
                <br />
                <p class="text">
                    השירות יגדיל את הגבייה האיכותית ויאפשר לעירייה לשפר את התדמית שלה כספקית שירותים איכותית לציבור
                    תושביה
                </p>
            </div>
            <a class="column button" routerLink="/contact-us">
                <button>צרו קשר עוד היום</button>
            </a>
        </div>
    </div>
</div>
