<div class="mdl-page-headlines">
    <div class="title primary">תקנון תנאי שימוש</div>
</div>
<div class="mdl-page-body mdl-cms column-grow">
    <strong>תנאי שימוש</strong>
    <br />
    <p>
        תנאי שימוש אלו מגדירים את תנאי ההתקשרות בין חברת רואד פרוטקט ישראל בע"מ, ח.פ. 515811230 (להלן "<strong
            >רואד פרוטקט</strong
        >" או "<strong>הספק</strong>" לבינך ו/או כל מי מטעמך בהתאם לשם המשתמש והסיסמא האישית שלך
        (להלן "<strong>המשתמש</strong>" או "<strong>הגולש</strong>")
    </p>
    <p>
        אנו מודים לך מראש על הבעת האמון בהתקשרותך עמנו, וכן לקריאתך בעיון את תנאי השימוש שלהלן באמצעות המערכת המקוונת של
        הספק .
    </p>
    <p>
        אישורך לתנאי שימוש אלו יעשה באמצעות סימון V בשדה המיועד לכך בדף הכניסה למערכת. סימון זה מהווה את אישורך לכך כי
        קראת, הבנת והסכמת לתנאי שימוש אלו ללא סייג. במידה ואינך מסכים לתנאי שימוש אלו וכל עוד לא תסמן כאמור את הסכמתך,
        תמנע ממך האפשרות מלעשות שימוש במערכת.
    </p>
    <p>
        הספק שומר לעצמו את האפשרות לשנות מתנאי השימוש מעת לעת, כפי שיפורסמו באתר המקוון של המערכת (בדף 'תנאי שימוש'), כך
        שתנאי השימוש התקפים יחולו על הצדדים יהיו כפי שמפורסמים אותה העת.
    </p>
    <p>
        בכל שינוי כאמור מתנאי השימוש, יעדכן הספק דרך שליחת דוא"ל ו/או פרסום הודעה בתיבת ההודעות האישית של הגולש במערכת
        ו/או פרסום הודעה בדף הבית של המערכת.
    </p>
    <p>
        שינוי מתנאי השימוש כאמור לעיל, יהיה לרבות לעניין דמי המנוי ו/או דרכי הגבייה והתשלום.
    </p>
    <p>
        באחריות המשתמש להתעדכן אודות שינוי מתנאי השימוש מעת לעת כאמור.
    </p>
    <strong>הצהרות המשתמש:</strong>
    <br />
    <p>המשתמש מצהיר כי הוא בגיר וכשיר משפטית, לפי הדין הישראלי.</p>
    <p>
        המשתמש מצהיר ומתחייב כי כל הנתונים שיזין דרך המערכת ו/או ימסור לספק בכל דרך אחרת, לרבות בקשר עם אירועים שיעביר
        לטיפול דרך המערכת, הם נכונים ומדויקים והינם על אחריותו המלאה.
    </p>
    <p>
        לרואד פרוטקט לא תהיה כל אחריות לנכונות המידע שיוצג או יימסר על ידי המשתמש, המשתמש יהיה אחראי כלפי כל נזק אובדן
        או חיוב שייגרם לספק ו/או למי מטעמו בגין מסירת מידע לא מדויק או כוזב ו/או בגין שימוש לרעה במערכת על ידי הגולש.
    </p>
    <p>
        השימוש שייעשה במערכת, ובכלל זה התקשרות המשתמש עם הספק, נעשים בשם ועבור המשתמש עצמו בלבד, ולא כשלוח או מיופה כח
        או בא כח של אדם אחר.
    </p>
    <p>
        המשתמש מתחייב לשמור על הסיסמא ושם המשתמש שיינתנו לו בצורה מאובטחת, ולא להעבירם לאחרים ולא לעשות כל פעולה או
        להימנע מלעשות כל פעולה סבירה שיש בה כדי להפוך את המידע והנתונים שייקלטו ויישמרו במערכת אודותיו זמינים לכל צד
        שלישי.
    </p>
    <p>
        המשתמש מתחייב להודיע לספק ללא כל דיחוי בדבר אובדן ו/או גניבה ו/או חשש לחדירה לחומרי מחשב שיש בהם כדי לסכן את
        אבטחת המידע ופרטיות פרטי המשתמש שלו, כדי לקבל שם משתמש ו/או סיסמא חדשים ומאובטחים.
    </p>
    <p>
        המשתמש מתחייב כי לא יבצע כל פעילות רובוטית במערכת, לרבות כי לא יעמיס על שרתי הספק מידע או נתונים שאינם דרושים או
        אינם סבירים במסגרת שירותי המערכת.
    </p>
    <p>
        המשתמש ישפה את הספק בגין נזקים שייגרמו לו ו/או למי מטעמו, בשל מעשה או מחדל מצד המשתמש, שלא כדין ו/או בניגוד
        לתנאי השימוש.
    </p>
    <p>
        כל המידע שיסופק על ידי המשתמש באמצעות  המערכת אינו מידע סודי של המשתמש, או נתונים שיש בהם משום חלק מצנעת פרטיותו
        של המשתמש.
    </p>
    <br />
    <strong>תיאור השירותים דרך המערכת:</strong>
    <br />
    <p>
        לא יינתנו שירותים עבור הודעות תשלום שחלף המועד לערער עליהן, בין אם עבר למסלול גבייה מטעם הרשות (לרבות הליכי
        הוצאה לפועל) ובין אם טרם עבר למסלול גבייה, ואלה לא ייחשבו כאירוע בר חיוב לעניין השימוש בשירותי המערכת.
    </p>
    <p>
        בחר המשתמש להעביר אירוע בר חיוב לטיפול הספק באמצעות המערכת, יעשה זאת באמצעות הודעה במקום הייעודי במערכת (בדף
        'הוספת אירוע'), תוך צירוף כל מסמך והוספת כל נתון שיידרש לפי המערכת ("<strong>אירוע</strong>") ואותו עניין ייחשב
        כאירוע שהועבר לטיפול.
    </p>
    <p>
        המשתמש לא יהיה מוגבל בכמות אירועים להעברה דרך המערכת, והספק לא ידחה אירוע כלשהו שהועבר לטיפולו, ובלבד שנמסרו די
        נתונים בכדי לטפל באירוע כאמור.
    </p>
    <p>
        הודעות/ערעורים/תשובות לאירועים ינוסחו על ידי המערכת, על פי ניסיונו ושיקול דעתו של הספק ובהתאם לאלגוריתם של
        המערכת  ("<strong>כתב תשובה</strong>") ויופקו בכרטיס האישי של המשתמש במערכת להדפסה, חתימה ושליחה על ידי המשתמש 
        באופן וירטואלי לרשות הרלוונטית.
    </p>
    <p>
        * לתשומת לב הגולש, הזמן להעברת כתב תשובה או כתב ערעור לאירוע בר חיוב עשוי להשתנות מאירוע לאירוע, ועל אחריותו
        המלאה לוודא את הכנת ושליחת כתב התשובה או כתב הערעור בתוך זמן סביר מהאירוע.
    </p>
    <br />
    <strong>חריגים ותנאים לשירותי המערכת:</strong>
    <br />
    <p>
        רואד פרוטקט אינה מתחייבת לשאת בכל עלות ו/או קנס ו/או הוצאה שיחוב בה המשתמש כלפי הרשויות במסגרת אירוע בר חיוב או
        כל עניין נלווה לו, בין אם הועבר לטיפול המערכת ובין אם לא.
    </p>
    <p>
        * מבלי לגרוע מהאמור, באחריות הגולש לפנות דרך המערכת לצורך הכנת כתב תשובה בטרם יחלוף לוח הזמנים לתגובה לאירוע,
        בשים לב לזמנים בשליחת דואר ישראל, בזמן סביר.
    </p>
    <p>
        ידוע לגולש כי במסגרת התקשרותו עם הספק ו/או שימוש בשירותי המערכת, הוא אינו מקבל 'ביטוח' ו/או 'פוליסה' לאירועים
        ברי חיוב, כולם או מקצתם, וכי רואד פרוטקט לא תיחשב כמי שמייצגת את המשתמש כלפי הרשויות בכל צורה שהיא.
    </p>
    <p>
        ידוע לגולש כי במסגרת התקשרותו עם הספק ו/או שימוש בשירותי המערכת, כי רואד פרוטקט אינה מעניקה שירותים משפטיים ו/או
        ייצוג בערכאות משפטיות או מעין משפטיות, וכי רואד פרוטקט אינה מספקת שירותי עריכת דין מכל סוג שהוא בקשר עם אירועים
        שהמשתמש יעביר לטיפול דרך המערכת.
    </p>
    <p>
        רואד פרוטקט מבצעת במערכת עדכוני תוכנה ותיקון תקלות מעת לעת, ולפיכך יתכן מעת לעת עיכוב במתן השירות דרך המערכת בשל
        ניתוקים ו/או תקלות מחשב ו/או תקלות רשת ו/או השבתות יזומות ו/או כיו"ב.
    </p>
    <p>
        המשתמש יהיה האחראי הבלעדי לקבלת תגובת הרשויות לכתב תשובה או לכתב ערעור, בין אם יישלחו על ידי המערכת ובין אם
        יישלחו בכל דרך אחרת, וכן יהיה האחראי הבלעדי לקבלת תגובת הרשויות בזמנים סבירים כפי שנדרש לשם המשך
        תשובה/ערעור/תשלום.
    </p>
    <br />
    <strong>תשלומים ודרכי חיוב כספי:</strong>
    <br />
    <p>
        עם העברת התשלום וקבלת כתב תשובה או כתב ערעור, יהיה הגולש רשאי לעשות כל שימוש (אישי) במסמך שיופק עבורו, לרבות
        תיקונים, הדפסה, חתימה והגשה; ועל אחריותו הבלעדית של המשתמש לשלוח את כתב התשובה או את כתב הערעור, לפי העניין, אל
        הרשויות הרלוונטיות לאותו אירוע.
    </p>
    <p>
        כל תשלום יכלול רשות אחת בלבד, אף אם מדובר באירוע המערב מספר רשויות; והמשתמש יהיה רשאי להעביר תשלומים נוספים עבור
        הפקת כתב תשובה או כתב ערעור ביחס לאותו אירוע, עבור רשויות נוספות.
    </p>
    <p>
        למען הסר ספק, התשלום אינו כולל שליחת כתב התשובה או כתב הערעור לידי הרשויות, ורואד פרוטקט לא תשלח בדואר (או בכל
        דרך אחרת שאינה מקוונת) טיוטות/ערעורים/מכתבים/נוסחים וכיו"ב, אלא במסגרת הפקה במערכת.
    </p>
    <p>
        * לתשומת לב הגולש, הזמן להעברת כתב תשובה או כתב ערעור לאירוע בר חיוב עשוי להשתנות מאירוע לאירוע, ועל אחריותו
        המלאה להעביר באמצעות המערכת את כל הנתונים הדרושים בתוך זמן סביר מהאירוע, לצורך הכנת ושליחת כתב התשובה או כתב
        הערעור על ידי הספק.
    </p>
    <p>
        הספק לא יהיה אחראי על זמני השליחה, ולא יישא בכל אחריות לעיכוב בשליחת כתב תשובה או כתב ערעור ו/או אם המסמך לא
        יגיע למענה של הרשות (במסגרת תשלום מוגדל), הנובעים בשל דואר ישראל או פניית המשתמש בחלוף למעלה מ-15 ימים ממועד
        האירוע.
    </p>
    <br />
    <strong>ביטול עסקה ע"י הלקוח:</strong>
    <br />
    <p>
        הלקוח רשאי לבטל עסקה ולקבל החזר כספי בכפוף ובהתאם להוראות חוק הגנת הצרכן התשמ"א 1981 ולרבות התקנות מכוחו (להלן:
        "החוק"), באמצעות מסירת הודעה בכתב על ביטול ההזמנה בכל אחד מהאמצעי ההתקשרות המצוינים בתקנות או ו/או באתר הספק.
    </p>
    <p>
        לקוח רשאי לבטל עסקה, תוך 14 מיום ההרשמה או ביצוע העסקה ובמקרה של מתן שירות, עד 14 ימים שאינם ימי מנוחה,
        <strong>והכל בתנאי שהשירות טרם סופק ללקוח</strong>.
    </p>
    <p>
        החזר כספי עקב ביטול עסקה יבוצע בהתאם לחוק ולאמצעי התשלום ממנו בוצעה הרכישה על פי כל דין ולפי מועדי חברת האשראי.
        למען הסר ספק, החזר כספי יבוצע לפי סכום התשלום ששולם בפועל.
    </p>
    <p>לא יינתן זיכוי כספי בגין מוצרים / שירותים אשר בגינם לא שולמה תמורה כספית כגון מתנות, הטבות וכדומה.</p>
    <br />
    <p>
        <strong
            >מובהר, למען הסר ספק כי ברגע שהועבר ו/או נחשף לעיניי הלקוח נוסח כתב התשובה/ ערעור ו/או כל מסמך אחר שהוכן
            עבור הלקוח על ידי המערכת, הרי שבכך סופק השירות ללקוח והוא לא יהיה זכאי לבטל עסקה ו/או לקבל החזר כספי
            כלשהו.</strong
        >
    </p>
    <br />
    <strong>פרטיות:</strong>
    <br />
    <p>
        ידוע ללקוח כי אין כל חובה חוקית שחלה עליו למסירת המידע וכי כל מידע שימסור ימסר מרצונו החופשי. הגולש יודע ומסכים
        שהספק ישתמש בפרטי הזיהוי שלו ושל רכב לצורך פניה לרשויות, במטרה לברר את מצבו של האירוע עליו דיווח המשתמש בכל עת,
        ולדעת את סטטוס הטיפול ברשות.
    </p>
    <p>
        הספק יהיה רשאי לעשות כל שימוש במידע שסופק על ידי משתמש לצורך קיום הסכם זה ו/או לצורך שמירה על קשר עם הגולש,
        לרבות מעת לעת להציע  ללקוח מוצרים או שירותים אשר הינו סבור שיעניינו את הגולש, הקמת מועדון לקוחות או מועדון
        צרכנים, וכן לצרכי ניתוח ו/או פילוח שוק. מידע כאמור לא יועבר לצדדים שלישיים. באישורך את תנאי השימוש והצהרת
        הפרטיות, הנך מאשר לספק לשלוח לך הודעות בדיוור ישיר, בהתאם ובכפוף למגבלות הדין החל.
    </p>
    <p>
        הנך רשאי, בכל עת דרך הגדרות הדף האישי במערכת, לבדוק את הפרטים אשר נאספו עליך על ידי הספק, לבקש לעדכנם או למחוק
        כל או חלק מהם, וכן להודיע כי אינך מעוניין במשלוח דברי פרסומת נוספים או דיוור ישיר כלשהו באמצעות דואר אלקטרוני
        info@roadprotect.co.il.
    </p>
    <p>ידוע לך כי הספק יעביר כל מידע או מסמך, ככל שיידרש או תוטל עליו חובה לעשות כן, לרשות המוסמכת לפי דין.</p>
    <br />
    <strong>כללי:</strong>
    <br />
    <p>תנאי השימוש מהווים הסכם התקשרות בין הגולש לבין רואד פרוטקט, ועם אישורך לתנאי השימוש ייכנס הסכם זה לתוקף.</p>
    <p>
        השימוש במערכת יהיה לצרכיו הפרטיים של הגולש בלבד, ואין לעשות בשירותי הספק שימוש למטרות רווח ו/או שימושים מסחריים
        אחרים ו/או עבור כל אדם אחר מטעם או בשם המשתמש.
    </p>
    <p>
        כל הזכויות בקניין הרוחני הקשור במערכת שייך ובבעלות רואד פרוטקט, ואין בהתקשרות המשתמש ו/או קבלת שירותים מהספק כדי
        להקנות למשתמש זכויות כלשהן ו/או רשיון שימוש ו/או בעלות בקניין הרוחני של רואד פרוטקט.
    </p>
    <p>בית המשפט המוסמך לדון בכל תביעה או סכסוך הנובעים מהתקשרות הגולש עם רואד פרוטקט, יהיו בתי המשפט במחוז תל אביב.</p>
</div>
<div class="mdl-page-footer">
    <button (click)="closeWin()" mat-button class="btn-mat-custom">סגור חלון</button>
</div>
